
<div class="row">
    <div class="col-md-4">
        <p></p>
        <a href="javascript:history.back()">Back</a>
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-7 col-sm-5 col-md-4 col-lg-4">
        <img ng-src="assets/images/{{::album.image}}" class="img-thumbnail">
    </div>
    <div class="col-xs-5 col-sm-7 col-md-8 col-lg-8">
        <h3>Title</h3>
        <h4>{{ ::album.title}}</h4>
        <h3>Band</h3>
        <h4><a href="#/bands/{{::album.band.id}}/details" title="Get Band Info">{{::album.band.name}}</a></h4>
        <h3>Year</h3>
        <h4>{{::album.year }}</h4>
        <h3>Favorite</h3>
        <p favorites id-model="album.id"></p>
    </div>
</div>
<div>
    <h3>Tracklist</h3>
    <table class="table table-striped">
        <thead>
        <th>#</th>
        <th>Track Name</th>
        <th>Watch on Youtube</th>
        </thead>
        <tbody>
        <tr track-list-element-table ng-repeat="track in album.tracklist" track-number="$index + 1" track-name="track" band-name="album.band.name"></tr>
        </tbody>
    </table>
</div>